{
	"presets": [
    ["env", {"targets": { "node": 6 }, "useBuiltIns": true }],
    "es2015",
    "stage-0",
    "react",
  ],
   "plugins": ["add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "babel-polyfill",
        "transform-class-properties",
        "transform-es2015-classes",
      ]
    }
  }
}
